html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}


.text-pink {
    color: #ff1448 !important;
}
.nav-link{
    letter-spacing:2px;
}
#carouselExampleSlidesOnly{
    height:350px;
}
footer{
    background-color: #0d243d;
    height:210px;
    color:white;

}
header{
    z-index:1000;
}
.dishCard{
    height:250px;
}
.fa-instagram{
    color:#bc2a8d;
}
.fa-whatsapp{
    color:#128C7E;
}
.fa-facebook {
    color: #1877F2;
}
.fa-envelope {
    color: #08851b;
}

.recipe-item:hover{
    background-color:#0d243d;
    border-radius:10px;
}
.recipe-item:hover a{
    color:white !important;
}
#recipe-list {
    top: 20px;
    overflow-y: auto;
   
}




